/* Body Settings */
body{
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #2b303b;
}

/* Topmost section */
section#zero{
  margin: 0;
  text-align: left;
  width: 100%;
  height: 100%;
  background-color: #eff1f5;
}

/*Header with name*/
section#zero h1{
  margin: 0;
  padding: 0 4vw;
  font-size: 6vh;
  font-weight: 700;
  color: #2b303b;
}

/*Navigation Bar*/
nav#top-nav{
  height: 10%;
  display: flex;
  justify-content: space-between;
}

/*Navigation Bar Items*/
nav#top-nav>ul{
  width: 70%;
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  color: #2b303b;
  font-size: 3vh;
  margin: 0;
  padding: 0;
  letter-spacing: 4px;
}


/*First Section*/
section#one{
  width: 100%;
  padding: 2vw 0;
  display: flex;
  justify-content: center;
  background-color: #2b303b;
}

/*Second Section*/
section#two{
  width: 100%;
  padding: 2vw 0;
  display: flex;
  justify-content: center;
  background-color: #FFEAB8;
}

/*Third Section*/
section#three{
  width: 100%;
  padding: 2vw 0;
  display: flex;
  justify-content: center;
  background-color: #B6ADA3;
}

/*Fourth Section*/
section#four{
  width: 100%;
  padding: 2vw 0;
  display: flex;
  justify-content: center;
  background-color: #8dbede;
}

/*Five Section*/
section#five{
  width: 100%;
  padding: 2vw 0;
  display: flex;
  justify-content: center;
  background-color: #F6F5F0;
}
/*On Hover*/
.container {
  position: relative;
  width: 70%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #2b303b;
}
section#two .overlay{
  background-color: #FFEAB8;
}
section#two .text{
  color: #764E2A;
}
section#three .overlay{
  background-color: #FFEAB8;
}
img#StillOG{
  width: 100%;
  height: 70%;
}
section#four .overlay{
  background-color: #8dbede;
}
section#four .text{
  color: #5d6567;
}
section#five .overlay{
  background-color: #F6F5F0;
}
img#Inside{
  width: 100%;
  height: 70%;
}
.container:hover .overlay {
  opacity: 1;
}

.text {
  color: #eff1f5;
  font-size: 2.1vw;
  position: absolute;
  top: -10;
  left: -5;
}

/*Link Style*/
a:link {
    color: #2b303b;
}
a:visited {
    color: #343d46;
}
a:hover {
    color: #4f5b66;
}
a:active {
    color: #65737e;
}

img {
    border-radius: 5px 5px 5px 5px;
}
